*{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html{
  display: flex;
  flex-direction: column;
}

.header{
  background-image: url('images/background.png') ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 950px;
  max-width: 2000px;
  color: white;
}

a{
    text-decoration: none;
}

.nav{
  display: flex;
  justify-content: space-between;
  background-color: #ffbf69;
  font-weight: bold;
}

.nav_name{
  margin: 20px;
  color: black;
}

.nav_items{
  display: flex;
  justify-content: space-around;
}

.nav_item{
  padding: 20px;
  color: black;
}

.header_heading{
    font-weight: bold;
  padding-top: 3rem;
  margin-left: 20px;
  font-size: 10rem;
}

.header_desc{
  max-width: 25rem;
  margin: 20px;
}

.header_button{
  background-color: #cbf3f0;
  border: none;
  color: black;
  padding: 20px 70px;
  margin: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
}

.article{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 35rem; */
  margin: 4rem;
}

.article_heading{
  margin: 1rem;
  font-weight: bold;
}

.gallery{
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  */
  background-color: #cbf3f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
}
.gallery_heading{
    padding: 30px 0;
}

.gallery_items{
    min-width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.gallery_item{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:20px 0;
}
.gallery_item button{
    background-color: #ffbf69;
    font-weight: bold;
    padding:5px 30px;
    border: none;
  }

.gallery_image{
  width: 200px;
  height: 200px;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

.gallery_item p{
  font-weight: bold;
  padding:20px 0;
}

.component {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/bg-grid.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 50px 0;
}

.component__header {
  font-size: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.component__text {
  margin-right: 20px;
  margin-bottom: 10px;
  margin-inline: 20px;
}

.component__text p{
  max-width: 700px;
  
}

.component__image {
  width: 350px;
  height: 300px;
  background-image: url(images/photo.jpg);
  background-size: cover;
  background-position: center;
}

.footer {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .footer_name {
    margin: 20px;
    color: white;
    font-weight: bold;
  }
  
  .footer_nav {
    display: flex;
    justify-content: space-around;
  }
  
  .footer_nav_item {
    color: white;
    padding-top: 20px;
    padding-inline: 9vh;
    font-weight: 300;
  }


  .hamburger {
    display: none;
  }

  @media (max-width: 768px) {
    .hamburger {
      display: block;
      cursor: pointer;
    }
    
    .nav_items {
      display: none;
      flex-direction: column;
    }
    
    .component{
      display: flex;
      flex-direction: column;
    }
  }


  @media (max-width: 768px) {
    .gallery_items{
      flex-direction: column;
    }
    .gallery{
      height: 230vh;
    }
  }

  @media (max-width:870px) {
    .footer{
      flex-direction: column;
      align-items: center;
    }
    .footer_nav{
        flex-direction: column;
        align-items: center;
    }
  }