*{
  margin: 0;
  /*background-color:red;*/
}

.header{
background-image: url('images/background.png') ;
background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
min-height: 500px;
}

a{
    text-decoration: none;
}

.nav{
  display: flex;
  justify-content: space-between;
}

.nav_name{
  margin: 20px;
}

.nav_items{
  display: flex;
  justify-content: space-around;
}

.nav_item{
  padding: 20px;
}

.header{
  padding: 20px;
  color: white;
}

.header_heading{
  padding-top: 3rem;
  margin: 20px;
  font-size: 5rem;
}

.header_desc{
  max-width: 25rem;
  margin: 20px;
}

.header_button{
  background-color: #cbf3f0;
  border: none;
  color: black;
  padding: 10px 50px;
  margin: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.article{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 35rem; */
  margin: 4rem;
}

.article_heading{
  margin: 1rem;
  font-weight: bold;
}

.gallery{
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  */
  background-color: #cbf3f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.gallery_items{
  display: flex;
  justify-content: center;
  gap: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.gallery_item{
  
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery_image{
  width: 300px;
  height: 200px;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

.gallery_item p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

.component {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/bg-grid.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}

.component__header {
  font-size: 20px;
}


.component__text {
  margin-right: 20px;
  margin-bottom: 10px;
}

.component__text p{
  max-width: 500px;
}

.component__image {
  width: 200px;
  height: 200px;
  background-image: url(images/photo.jpg);
  background-size: cover;
  background-position: center;
}